$v-align: 40px;
$grid--gutter-width: 20px;
$fontsize--small: 14px;

$btn--padding-vertical: 10px;
$btn--padding-horizontal: 15px;

$breakpoint--smartphone: 767px;

$notice-cookie--color-background: #fff;
$notice-cookie--color: #000;
$notice-cookie--btn-color: #fff;
$notice-cookie--btn-color-background: #303748;
$notice-cookie--gutter-width: $grid--gutter-width;
$notice-cookie--font-size: $fontsize--small;
$notice-cookie--padding-vertical: $btn--padding-vertical;
$notice-cookie--padding-horizontal: $btn--padding-horizontal;

$notice-cookie-modal--color: #303748;
$notice-cookie-modal--color-primary: #868395;