/* ==========================================================================
   Global
   ========================================================================== */
@import "variables";

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

/* ==========================================================================
   Notice des cookies : bandeau
   ========================================================================== */
.notice--cookie {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    max-width: 800px;
    max-height: 80vh;
    padding: $v-align 2.5%;
    display: flex;
    flex-direction: column;
    font-size: $notice-cookie--font-size;
    color: $notice-cookie--color;
    background: $notice-cookie--color-background;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    box-sizing: border-box;

    .is-cookienotice-notice-open & {
        z-index: 1010;
        opacity: 1;
        visibility: visible;
    }

    p {
        flex-grow: 1;
        margin: 0;
    }
    a {
        color: inherit;

        &:hover {
            color: inherit;
            text-decoration: underline;
        }
    }
}

.cookienotice-notice-actions {
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 0;
    align-items: center;
    margin-top: $v-align/2;

    /* Responsive
    ========================================================================== */
    @media screen and (max-width: $breakpoint--smartphone) {
        margin-top: $notice-cookie--gutter-width;
        justify-content: center;
        flex-direction: column;
    }
}
.cookienotice-btn {
    margin-top: $v-align/4;
    padding: 10px 15px;
    color: $notice-cookie--btn-color;
    font-weight: bold;
    background: none;
    border: 2px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    white-space: nowrap;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    /* Responsive
    ========================================================================== */
    @media screen and (min-width: $breakpoint--smartphone - 1px) {
        + .cookienotice-btn {
            margin-right: $notice-cookie--gutter-width/2;
        }
        &.cookienotice-customize {
            margin-right: auto;
        }
    }
}
.cookienotice-btn--primary {
    background: $notice-cookie--btn-color-background;
    text-transform: uppercase;
}
.cookienotice-btn--secondary {
    color: $notice-cookie--btn-color-background;
    border-color: $notice-cookie--btn-color-background;
}
.cookienotice-btn--tertiary {
    padding-left: 0;
    padding-right: 0;
    color: $notice-cookie--btn-color-background;
    text-decoration: underline;
}


/* ==========================================================================
   Modal des cookies
   ========================================================================== */
.modal--cookie {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    max-width: 800px;
    max-height: 80vh;
    padding: $v-align 2.5%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    transition: .2s;

    &:focus {
        border: 1px dotted inherit;
    }

    p {
        margin:  0 0 $v-align/2;
    }
    a {
        text-decoration: none;
    }

    .is-cookienotice-modal-open & {
        z-index: 1015;
        opacity: 1;
        visibility: visible;
    }

    /* Responsive
       ========================================================================== */
    @media screen and (max-width: $breakpoint--smartphone) {
        top: 0;
        left: 0;
        transform: none;
        height: 100vh;
        max-height: none;
        border-radius: 0;

        .is-cookienotice-modal-open & {
            transform: none;
        }
    }
}

/* Overlay
   ========================================================================== */
.cookienotice-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
    transition: opacity .3s;

    .is-cookienotice-notice-open &,
    .is-cookienotice-modal-open & {
        z-index: 1000;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

/* Close btn
========================================================================== */
.cookienotice-modal-close { $s: 40px;
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 5;
    padding: 0;
    width: $s;
    height: $s;
    background: none;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s;

    &:hover,
    &:focus {
        background-color: $notice-cookie-modal--color;

        &:before,
        &:after {
            background-color: #fff;
        }
    }

    &:before,
    &:after { $w: 16px;
        content: "";
        position: absolute;
        top: $s/2;
        right: ($s - $w)/2;
        z-index: 5;
        width: $w;
        height: 2px;
        background: $notice-cookie-modal--color;
        transform: rotate(-45deg);
        transition: background-color .3s;
    }
    &:after {
        transform: rotate(45deg);
    }
}

/* Header
   ========================================================================== */
.cookienotice-modal-header {
    position: relative;
    padding-right: 50px;
}
.cookienotice-modal-label {
    display: block;
    margin: 0 20px $v-align/2 0;
    color: $notice-cookie-modal--color;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
}
.cookienotice-modal-description {
    margin: $v-align/2 0;
    padding-bottom: $v-align/2;
}

/* Groupes
   ========================================================================== */
.cookienotice-group {
    padding: $v-align/2 0;

    &:after {
        height: 1px;
    }
    &:last-child:after {
        display: none;
    }
}
.cookienotice-modal-header,
.cookienotice-service--all,
.cookienotice-group {
    position: relative;
    margin-bottom: $v-align;

    &:after {
        content: "";
        position: absolute;
        bottom: -$v-align/2;
        left: 0;
        width: 150px;
        height: 2px;
        background: $notice-cookie-modal--color-primary;
    }
}
.cookienotice-group--label {
    color: $notice-cookie-modal--color-primary;
    font-size: 1.1em;
    font-weight: bold;
}

/* Services
   ========================================================================== */
.cookienotice-services {
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
    }
}
.cookienotice-service {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px solid rgba(#000, .1);

    .cookienotice-service-description {
        margin: 6px 0 0;
        color: #888;
        font-size: .8em;
    }
}
.cookienotice-group .cookienotice-service:last-of-type {
    border-bottom: 0;
}
a.cookienotice-service-label:focus {
    outline: 1px dotted #000;
}
.cookienotice-service-action {
    cursor: pointer;

    &.is-disagreed {
        .cookienotice-service-action-input {
            grid-template-columns: 0fr 1fr 1fr;

            &:before {
                background-color: #d9534f;
            }
        }
    }
    &.is-agreed {
        .cookienotice-service-action-input {
            grid-template-columns: 1fr 1fr 0fr;

            &:before {
                background-color: #5cb85c;
            }
        }
    }
}
.cookienotice-service-action-input { $size: 30px; $padding: 4px;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    padding: $padding;
    width: $size*2 - $padding*2;
    height: $size;
    background: $notice-cookie-modal--color;
    border-radius: $size/2;
    box-sizing: border-box;
    transition: .2s;

    &:before {
        content: "";
        grid-column: 2;
        background: #ccc;
        border-radius: 50%;
        transition: background .2s;
    }
}
.cookienotice-service-action-input--checkbox,
.cookienotice-service-action-label {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.cookienotice-service--all {
    border-bottom: 0;

    ~ .cookienotice-service--all:after {
        bottom: auto;
        top: -$v-align/2;
    }
}
.cookienotice-service-all-label {
    margin-bottom: 0;
    color: $notice-cookie-modal--color-primary;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
}

/* ==========================================================================
   Service handler
   ========================================================================== */
.cookienotice-service-handler-container {
    position: relative;

    &.is-agreed .cookienotice-service-handler {
        display: none;
    }
}
.cookienotice-service-handler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: auto;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .6);
    }

    > * {
        position: relative;
        z-index: 10;
    }
}
.cookienotice-service-handler-label {
    color: #fff;
}
.cookienotice-service-handler-btn {
    cursor: pointer;
    color: #fff;
    border-color: #fff;
    
    &:hover,
    &:focus {
        color: #000;
        background-color: #fff;
    }
}
