.notice--cookie {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    color: #fff;
    background: rgba(0, 0, 0, .75);
    transform: translateY(500px);
    transition: transform .3s;

    .is-cookieNoticeOpen & {
        transform: translateY(0);
    }

    p {
        position: relative;
        margin: 20px;
        padding-right: 180px;
        font-size: 13px;
    }

    a {
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    button {
        position: absolute;
        right: 0;
        bottom: 50%;
        z-index: 5;
        padding: 5px 10px;
        height: 40px;
        color: #000;
        font-weight: bold;
        background-color: #fff;
        border: 0;
        border-radius: 20px;
        cursor: pointer;
        transform: translateY(50%);
        transition: .3s;

        &:hover,
        &:focus {
            color: #fff;
            background-color: #000;
        }
    }

    /* Responsive
       ========================================================================== */
    @media screen and (max-width: 767px) {
        p {
            margin: 10px;
            padding-right: 0;
            padding-bottom: 45px;
            line-height: 1.2;
        }

        button {
            top: auto;
            bottom: 18px;
        }
        .is-cookieNoticeOpen & {
            visibility: visible;
            bottom: 0;
        }
    }
}